<div id="set-time">
    <div id="top"></div>
    <div id="progress">
        <div id="p1" class="dot blue"></div>
        <div id="p2" class="dot green"></div>
        <div id="p3" class="dot orange"></div>
        <div id="p4" class="dot grey"></div>
    </div>
    <div id="timer-bg"></div>
    <div id="selector"></div>
    <div id="title"></div>
    <div id="subtitle">Use current time or drag to change</div>
    <div id="display">0 minutes</div>
    <div id="use-current-button" class="button">USE CURRENT TIME</div>
</div>