<div id="start-new-timer">
    <div id="top"></div>
    <div id="progress">
        <div id="p1" class="dot grey"></div>
        <div id="p2" class="dot grey"></div>
        <div id="p3" class="dot grey"></div>
        <div id="p4" class="dot grey"></div>
    </div>
    <div id="start-bg"></div>
    <div id="title">START NEW TIMER</div>
    <div id="subtitle">In 4 easy steps</div>
    <div id="start-button" class="button">START</div>
</div>