<div id="start-timer">
    <div id="top"></div>
    <div id="progress">
        <div id="p1" class="dot blue"></div>
        <div id="p2" class="dot green"></div>
        <div id="p3" class="dot orange"></div>
        <div id="p4" class="dot red"></div>
    </div>
    <div id="timer-bg"></div>
    <div id="title"></div>
    <div id="pause-button" class="button">PAUSE</div>
    <div id="settings" class="clearfix">
        <div id="interval" class="settings-item">
            <div class="settings-bg"></div>
            <div class="subtitle">Interval</div>
            <div class="value">4 hrs</div>
        </div>
        <div id="start" class="settings-item">
            <div class="settings-bg"></div>
            <div class="subtitle">Start</div>
            <div class="value">13:02</div>
        </div>
        <div id="duration" class="settings-item">
            <div class="settings-bg"></div>
            <div class="subtitle">Duration</div>
            <div class="value">2 days</div>
        </div>

    </div>
</div>